@import "_config";

.list-content {
    border-right: $border-style-content $border-thick;
    border-color: $border-color;

    margin: 0;

    padding-right: 1em;

    overflow-x: hidden;
    overflow-wrap: break-word;

}

.post-list {
    margin-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;

    padding: 0;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: $link-color;
        text-decoration: none;
    }
}

.disclosure {
    margin-left: 1.0em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;

    padding: 0;

    ul {
        margin-top: 0.2em;
        margin-bottom: 0.2em;

        padding: 0.2em;

        list-style: symbols(cyclic "-");

        li {
            padding: 0.1em;
        }
    }
}
